{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{url_for('recipes_create') }}">
	<label for="nimi">Reseptin nimi:</label><br/>
	<input type="text" name="nimi"/><br/><br/>
	<label for="annoksia">Annosten määrä:</label><br/>
	<input type="number" name="annoksia"/><br/><br/>
	<label for="aika">Kesto (min):</label><br/>
	<input type="number" name="aika"/><br/><br/>
	<label for="ohje">Ohje:</label><br/>
	<input type="text" name="ohje" size="75"/><br/><br/>
	<input type="submit" value="Lisää resepti"/>
</form>
{% endblock %}
